{{ ansible_managed | comment }}

interface={{ wlan_iface }}
driver=nl80211
ctrl_interface=/var/run/hostapd
ctrl_interface_group=0
hw_mode=g
channel=6             # the channel to use
ieee80211d=1          # limit the frequencies used to those allowed in the country
country_code=FR       # the country code
ieee80211n=1          # 802.11n support
wmm_enabled=1         # QoS support

# -------- guest --------
ssid={{ wifi_cwp_ssid }}
beacon_int=100
auth_algs=1

# -------- main --------
bss={{ wifi_eap_iface }}
ssid={{ wifi_eap_ssid }}
ieee8021x=1
wpa=2
wpa_key_mgmt=WPA-EAP
wpa_pairwise=CCMP
rsn_pairwise=CCMP
beacon_int=100
auth_algs=3

nas_identifier=nas01
auth_server_addr=127.0.0.1
auth_server_port=1812
auth_server_shared_secret=testing123

acct_server_addr=127.0.0.1
acct_server_port=1813
acct_server_shared_secret=testing123
radius_acct_interim_interval=600
