{{ ansible_managed | comment }}

interface {{ wifi_eap_iface }} {

	AdvSendAdvert on;
	prefix {{ wifi_eap_ra.router | ansible.netcommon.ipv6('network/prefix') }} {
		AdvRouterAddr on;
	};
	{% for ns in wifi_eap_ra.dns %}
	RDNSS {{ ns }} { };
	{% endfor %}
};
